{% extends 'base.html' %}

{% load humanize %}

{% block title %}Cash Audit - ATM EJ Parser{% endblock %}

{% block content %}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6 mb-10">

    <!-- Total Dispensed -->
    <div class="bg-zinc-900 border border-zinc-800 rounded-3xl p-8">
        <div class="text-sm text-zinc-400">Total Dispensed Cash</div>
        <div class="text-4xl font-semibold mt-4 text-white">
            ₹{{ total_dispensed|intcomma }}
        </div>
    </div>

    <!-- Total Requested -->
    <div class="bg-zinc-900 border border-zinc-800 rounded-3xl p-8">
        <div class="text-sm text-zinc-400">Total Requested Cash</div>
        <div class="text-4xl font-semibold mt-4 text-white">
            ₹{{ total_requested|intcomma }}
        </div>
    </div>

    <!-- Failed Amount -->
    <div class="bg-zinc-900 border border-zinc-800 rounded-3xl p-8">
        <div class="text-sm text-zinc-400">Total Failed Amount</div>
        <div class="text-4xl font-semibold mt-4 text-rose-400">
            ₹{{ total_failed|intcomma }}
        </div>
    </div>

    <!-- Phantom Risk -->
    <div class="bg-zinc-900 border border-zinc-800 rounded-3xl p-8">
        <div class="text-sm text-zinc-400">Phantom Risk Amount</div>
        <div class="text-4xl font-semibold mt-4
            {% if phantom_risk == 0 %}
                text-emerald-400
            {% else %}
                text-rose-400
            {% endif %}
        ">
            ₹{{ phantom_risk|intcomma }}
        </div>
    </div>


    <!-- Audit Status -->
    <div class="bg-zinc-900 border border-zinc-800 rounded-3xl p-8 flex flex-col justify-center">
        <div class="text-sm text-zinc-400">Audit Status</div>

        {% if audit_status == "BALANCED" %}
            Audit Status ✅ BALANCED
        {% else %}
            Audit Status ⚠️ NOT BALANCED
        {% endif %}
    </div>

</div>

{% endblock %}

